.tab-pane:top .tab-header-area .headers-region .tab:top .tab-container .tab-label {
    -fx-pref-width: 140px;
    -fx-label-padding: -3px;
}

.tab-pane:bottom .tab-header-area .headers-region .bottomTab:bottom .tab-container .tab-label {
    -fx-pref-width: 300px;
}

.mainTab {
    -fx-pref-height: 50px;
    -fx-font-size: 20px;
    -fx-background-color: #BBBBBB;
}

.bottomTab {
    -fx-pref-height: 30px;
    -fx-font-size: 15px;
    -fx-background-color: #BBBBBB;
}

.bottomTab:selected {
    -fx-background-color: #FFFFFF;
}
.mainTab:selected {
    -fx-background-color: #FFFFFF;
}

.exactSeries {
    -fx-stroke: #FF00FF;
}

.eulerSeries {
    -fx-stroke: #FF0000;
}